body {
    font-family: 'Poppins', Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color-primario: #1b9aaa; 
    --color-secundario: #2176ae;
    --color-de-fuente: white;  
}

/* --------- HEADER ----------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--color-primario);
    width: 100%;
    height: 80px;  
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.logo {
    display: flex;
    margin-left: 20px;
    align-items: center;
    line-height: 1.6em;
    text-decoration: none;
    
}

.logo h2 {
    margin-left: 10px;
    text-align: center;
    color:white;
    font-weight: 400;
    letter-spacing: .2em; 
}

.logo h2:hover{
    color: black;
}

.logo_imagen {
    width: 50px;
}

.menu{
    margin-right: 10px;
    align-items: center;
}

.menu a {
    text-decoration: none;
    font-weight: 300;
    color: var(--color-de-fuente);
    margin-right: 10px;
    letter-spacing: .1rem;
}
nav a:hover{
    color: black;
}

/* --------- HOME ----------- */

.home {
    margin-top: -80px;
    display: flex;
    background-image: url(../img/imagenfondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.home_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    
  
    
}
.home_texto h1 {
    font-size: 8rem;
    color: black;
    margin: -10px 0;
}

.home_texto p {
    font-size: 1.2rem ;
}

.home_button {
    background-color: var(--color-secundario);
    width: 200px;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-decoration: none;
    color: var(--color-de-fuente); 
    box-shadow: 5px 5px 5px black;
}
 
.home_button h2:hover {
    color: black;
}

.home_button:hover {
    background-color: var(--color-primario);
}

/* ----------- PAQUETES ---------- */
.paquetes {
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.arriba {
    display: flex;
    height: 80vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/fondovectorial.png);
    background-size: contain;
    background-position: center;
    /* padding-top: 20px; */
}

.box_up {
    width: 350px;
    height: 500px;
    background-color: var(--color-secundario);
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: var(--color-de-fuente);
}

.box_up p {
    border-top: var(--color-de-fuente) solid;
    border-bottom: var(--color-de-fuente) solid;
    border-width: .1rem ;
    width: 80%;
    padding-top: 30px;
    padding-bottom: 30px;
    letter-spacing: .1rem;
    font-weight: 300;
}

.box_up h2 {
    font-size: 2.5rem;
    letter-spacing: .3rem;
}

.box_up a {
    text-decoration: none;
    color: var(--color-de-fuente);
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    width: 200px;
    height: 50px;
    background-color: var(--color-primario);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px black;
    
}

.box_up a:hover {
    color: black;
    background-color: coral;
}

.abajo {
    border-top: black solid;
    border-top-width: .1rem;
    display:flex; 
    height: 30vh;
    width: 100%;
    flex-direction: column;
    
}

.abajo_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -30px;
}

.abajo_titulo{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.abajo_titulo h2 {
    font-weight: 400;
    letter-spacing: .5rem;
}

.abajo_box img {
    width: 40px;
    height: 40px;
}

.box_down img {
    display: block;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    padding: 5px;
    border-radius: 10px;
}

.box_down img:hover {
    background-color: chocolate;
}

.box_down {
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.box_down p {
    text-align: center;
    align-self: center;
}

/* ------------ ESPACIOS -------------- */
.espacios {
    padding-top: 60px;
    display: flex;
    height: 100vh;
}

.izquierda {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 80%;
    margin-right: 20px;
    justify-content:space-around;
}

.espacios hr {
    height: 80vh;
    width: .1rem;
    border-width:0;
    color:black;
    background-color: black;
    align-self: center;

}

.izquierda_title h2 {
    font-weight: 400;
    letter-spacing: .2rem;
    margin-left: 10px;
    
    
}
.izquierda img {
    width: 100px;
    height: 100px;
}
.izquierda_eventos {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.eventos_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}


.eventos_text h3 {
    text-align: center;
    font-weight: 600;
    letter-spacing: .2rem;
    background-color: var(--color-secundario);
    width: 200px;
    border-radius: 10px;
    color: var(--color-de-fuente);
}

.eventos_text p {
    text-align: center;
}

.derecha  {
    display: flex;
    width: 50%;
    height: 80vh;
    padding-top: 60px;
    
   
}

.gallery_img {
    width: 100%;
    height: 240px;
    margin-top: 5px;
    object-fit: cover;
    filter:brightness(70%);
    transition: transform 0.3s ease-in-out;
}

.gallery_img:hover {
    filter: brightness(100%);
    transform: scale(1.2);

}

.gallery_row {
    display: flex;
    padding: 5px;
    margin-top: 30px;
    
}
.gallery_column {
    flex: 33,33%;
    padding: 5px;
    width: 100%;  
}

/* -------------FOOTER------------- */

footer {
    margin: 0;
    display: flex;
    background-color: var(--color-primario);
    height: 300px;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: row-reverse;
}

.footer_formulario {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    width: 33.33%;
}

.form1 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form2 {
    display: flex;
    flex-direction: column;
}

.form2 textarea {

    overflow: scroll;
    resize: none;  
}

.footer_centro {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.footer_centro nav {
    padding-top: 30px;
}

.derechos_de_autor {
    margin-top: 100px;
    font-weight: bold;
}

.footer_redes {
   display: flex;
   width: 33.33%;
   flex-direction: column;
   align-items: center;
   text-align: center;
   
}

.footer_redes h4 {
    font-weight: 300;
    color: var(--color-de-fuente);
    letter-spacing: .2rem;
}

.redes img {
    width: 50px;
    height: 50px;
    transition: transform(0.3s);
}

.redes img:hover {
    transform: scale(1.2);
}











